<h2>Friend index</h2>
<h2>Total friends: {{model.length}}</h2>

{{#link-to 'friends.new'}}New{{/link-to}}
<ul>
  {{#each model as |friend|}}
    <li>
			{{link-to friend.fullName 'friends.show' friend}}
		</li>
  {{/each}}
</ul>
